.form-input, .form-message {
    border: solid 3px black;
    border-radius: 10px;
}

.titulo-contacto {
    margin: 15px;
    display: block;
    text-align: center;
}

input#nombre {
    grid-area: nombre;
}

input#email {
    grid-area: email;
}

textarea#mensaje {
    grid-area: mensaje;
}

input#telefono {
    grid-area: telefono;
}

.contact-form {
    display: grid;
    grid-template-areas: 
    "email mensaje"
    "nombre mensaje"
    "telefono mensaje";
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr;

}

#email, #nombre, #telefono {
    width: 80%;
    height: 40px;
    margin: 10px auto;
    align-self: center;
}

#mensaje {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.button {
    color: black;
    width: 6.25rem;
    margin: 10px auto;
    padding: 5px;
    background-color: white;
    border: solid 3px black;
    border-radius: 10px;

        &:hover {
            background-color: black;
            color: white;
            border-radius: 10px;
        }
}