$font: 'Open Sans', sans-serif;

* {
    margin: 0;
    padding: 0;
    font-family: $font;
}

footer {
    text-align: center;
    margin: 15px 0 15px 0;
    font-family: $font;
    
        .p-footer {
            color: white;
        }

}

.gradiente {
    background-image: linear-gradient(white, grey);
}

.enlaces{
    padding: 7px;
    color: white;
    background-color: black;
    border-radius: 8px;

     &:hover {
        background-color: white;
        color: black;
        padding: 7px;
        border-radius: 8px;
        border: solid 1px;
     }

     &:active {
        background-color: white;
        color: black;
        padding: 7px;
        border-radius: 8px;
        border: solid 1px;
     }
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 10px;
}

.lista-nav {
    padding: 5px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
}