@mixin flex-wrap-justify {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.p-index {
    @include flex-wrap-justify;
    margin: 0 15px;
    width: 85%;
    align-items: center;
}

.section-index, .imagen {
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    width: 55%;
}