@mixin flex-wrap-justify {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.titulos-index {
    @include flex-wrap-justify;
    margin: 20px auto;
    width: 85%;
    align-items: center;
}

.p-index {
    @include flex-wrap-justify;
    margin: 10px 15px;
    width: 85%;
    align-items: center;
}

.padre-hitos {
    @include flex-wrap-justify;
}

.section-index, .imagen, .frames {
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    width: 55%;
}