@mixin flex-wrap-justify {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  @media (max-width: 480px) {
      
      .p-index {
        flex-direction: column;
        text-align: center;
        width: 85%;
        margin: 0 auto;
      }
     
      .section-index {
        flex-direction: column;
      }
  
  }
  
  @media (max-width: 768px) {
    
    .arrow {
      right: 15px;
    }

    .section-index, .imagen {
      flex-direction: column;
    }

    .imagen {
      width: 100%;
    }

    .hito {
      width: 320px;
    }

    .foto-perfil {
      display: block;
      margin: 0 auto;
      margin-bottom: 10px;
      width: 150rem * 0.0625;
      border-radius: 100px;
    }
    
    .fotos {
      display: none;
    }
    
    .contact-form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
      justify-content: center;
      justify-self: none;
    }
    
    #nombre, #email, #telefono {
      width: 55%;
      margin: 10px auto;
    }
   
    #mensaje {
      margin: 0 auto;
      margin-top: 20px;
      width: 55%;
    }
    
    .button, .button:hover {
      width: 100rem * 0.0625;
    }
    
    #grilla {
      display: flex;
      flex-direction: column;
    }
  
  }
  
  
  @media (max-width: 610px) {
    
    #mensaje {
      margin: 0 auto;
      margin-top: 20px;
      width: 55%;
    }
    
    #nombre #email #telefono {
      width: 55%;
      margin: 15px auto;
    }

    .titulos-index {
      font-size: 20px;
    }
  
  }
  
  @media (max-width: 430px) {
    
    .maps {
      width: 85%
    }
    
    .button, .button:hover {
      width: 6.25rem;
      margin: 10px auto;
      padding: 5px;
      background-color: white;
      border: solid 3px black;
      border-radius: 10px;
    }
  
    .button:hover {
      margin: 10px auto;
      padding: 5px;
      background-color: black;
      border-radius: 10px;
      color: white;
    }
  
    #nombre, #email, #telefono, #mensaje {
      margin: 10px auto;
      width: 55%;
    }
  
  }
  
  @media (max-width: 320px) {
    
    #mensaje {
      height: 15.625rem;
    }
  
  }  

@media (min-width: 620px) {
  .arrow-disco {
    display: none;
  }
}

@media (max-width: 500px) {
  .arrow-disco {
    display: flex;
    margin: 20px auto;
    position: initial;
  }
}